html(lang="DE")
    head
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/bootstrap.min.css")
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet")
    body
        div(class="navigation")
            div(class="container")
                div(class="row")
                    div(class="col-xs-2")
                        img(class="img" src="../img/logo.png")
                    div(class="col-xs-10")
                        li
                            a(href="#") Über uns
                        li
                            a(href="#") leistungen
                        li
                            a(href="#") Kontakt

        div(class="header")
            div(class="container")
                div(class="row")
                    div(class="col-xs-8 col-xs-offset-2")
                        h1 Gewerbeparks im Bodenseeland
                        hr
                        h2 Flexible Flächen- und Vertragsgestaltung zur  stetigen Anpassung an die wirtschaftliche und  unternehmerische Entwicklung der Mieter
                        button Kontakt
        div(class="uberuns")
            div(class="container")
                div(class="row")
                    div(class=" col-xs-8 col-xs-offset-2")
                        h2 Schweden Industrievermietung
                        p Mit rund 60.000 qm hoch flexibel gestaltbarer Fläche bietet Gerhard Schweden als größter privater Gewerberaumanbieter in Konstanz den unterschiedlichsten Visionen vom eigenen Unternehmen den passenden Raum. Und das im ganz besonderen Ambiente der Bodenseeregion. Vom Existenzgründer bis zum Konzern, vom Jungunternehmer bis zum Produktionsbetrieb, seit mehr als 30 Jahren vertrauen unsere Mieter aus allen Brachen und Bereichen mit Erfolg auf die Angebotskonzepte und das Know-how im Flächenmanagement.
        div(class="leistungen")
            div(class="container")
                div(class="row")
                    div(class="col-xs-4")

                        img(src="../img/icon1.jpg" class="center-block")
                        p(class="text-center") Vermietung von Büro-, Lager- und  Produktionsflächen
                    div(class="col-xs-4")
                        img(src="../img/icon2.jpg" class="center-block")
                        p(class="text-center") Flexible Flächen- und Vertragsgestaltung
                    div(class="col-xs-4")
                        img(src="../img/icon3.jpg" class="center-block")
                        p(class="text-center") Zusammenführung von Synergieeffekten
        div(class="footer")
            div(class="container")
                div(class="row")
                    div(class="col-xs-12")
                        h2 Kontakt
                div(class="row")
                    div(class="col-xs-4")
                        ul
                            li Am Seerhein 6
                            li D-78467 Konstanz
                            li Telefon: 0049 (0) 7531 8151-0
                            li Telefax: 0049 (0) 7531 8151-91
                    div(class="col-xs-4")
                        ul
                            li E-Mail: info@schweden-vermietungen.de
                            li www.schweden-vermietungen.de
                    div(class="col-xs-4")
                            a(href="#") Impressum
                            a(href="#") Datenschutz

